body {
    transition: background-color 0.0s, color 0.0s;
}
body.dark-mode {
    background-color: #0f0f0f;
    color: #f1f1f1;
}
.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container {
    background-color: #0f0f0f;
    border: 1px solid #717171;
    box-shadow: 0 0 0px #717171;
    border-radius: 2.1px;
    padding: 0.6px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 10PX;
    text-align: center;
}
.container video {
    width: 100%;
    height: auto;
}
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-rewind-button,
video::-webkit-media-controls-seek-back-button,
video::-webkit-media-controls-seek-forward-button,
video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}
.title {
    background-color: #0f0f0f;
    border: 0.0px solid #0f0f0f;
    border-radius: 0.0px;
    color: hsla(0, 100%, 100%, 0.88);
    font-size: 16px;
    font-weight: bold;
    padding: 0.0px;
    margin: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.social-media-icons {
    list-style: none;
    padding: 0;
    display: flex;
}
.social-media-icons li {
    margin-right: 2px;
    margin-left: 2px;
}
.social-media-icons a {
    display: block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.facebook {
    background-image: url('id/m.fb.png');
}
.messenger {
    background-image: url('id/m.me.png');
}
.title-container {
    text-align: center;
}
.titlec {
    opacity: 0;
    font-size: 2em;
    animation: fadeIn 2s ease-in-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
